div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h2 Demo dashboard for withings-lib

.container
  .row
    .col-lg-6
      h1.page-header Monthly Steps:
      pre
        p {{stepsRes}}
    .col-lg-6
      h1.page-header Monthly Weight:
      pre
        p {{weightRes}}
  .row
    .col-lg-6
      h1.page-header Daily steps:
      pre
        p {{dailyStepsRes}}
    .col-lg-6
      h1.page-header Daily calories:
      pre
        p {{dailyCalsRes}}

footer.footer
  .container
    p
      | withings-lib v0.2.2
      = ' | '
      a(href='https://github.com/amida-tech/withings-lib/issues?state=open') Issues